.margin-right-5 {
    margin-right: 5px;
}
.pull-right {
    float: right;
}

.el-menu-item [class^="icon-"] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'element-icons', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.me-icon-gray {
    color: #b0b0b0;
}

.me-medium {
    font-size: 14px;
}

.me-small {
    font-size: 12px;
}

span .me-pull-right {
    font-size: 14px;
}
