.margin-right-5 {
    margin-right: 5px;
}

.pull-right {
    float: right;
}

.el-menu-item [class^="icon-"] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'element-icons', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.me-icon-gray {
    color: #b0b0b0;
}

.me-medium {
    font-size: 14px;
}

.me-small {
    font-size: 12px;
}

span .me-pull-right {
    font-size: 14px;
}

.banner3 {
    background-image: url("../../static/img/banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner1 {
    background-image: url("../../static/img/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner2 {
    background-image: url("../../static/img/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner4 {
    background-image: url("../../static/img/banner4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    height: 60px;
    float: left;
    margin-left: 20px;
    position: fixed;
    top: 0;
}
.me-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main {
    margin-top: 60px;
}

.meeting .title {
    font: 18px large;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 1.5;
}

.detail {
    text-align: center;
}
.detail .title {
    font: 18px large;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 1.7;
}

.detail .content {
    text-align: left;
    text-indent: 30px;
    vertical-align: middle;
    float: left;
    font: 14px Base;
    line-height: 2;
    color: #606266;
    margin-bottom: 20px;
}

.meeting .content {
    text-align: left;
    text-indent: 30px;
    vertical-align: middle;
    float: left;
    font: 14px Base;
    color: #606266;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px;
}

.detail i {
    margin-right: 20px;
    text-align: left;
    font: 13px Small;
    float: right;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.meeting .header {
}
.meeting .header i {
    text-align: right;
    font: 12px Extra Small;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    float: right;
    margin-left: 20px;
}
.meeting .body i {
    text-align: right;
    float: left;
    font: 12px Extra Small;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin-right: 20px;
}
html, body, #app, .el-container {
    /*设置内部填充为0，几个布局元素之间没有间距*/
    padding: 0px;
    /*外部间距也是如此设置*/
    margin: 0px;
    /*统一设置高度为100%*/
    height: 100%;
}

